<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">

    <menu>
        <add id="Company_PricingAdjust::menu"
             title="Company"
             module="Company_PricingAdjust"
             sortOrder="10"
             resource="Company_PricingAdjust::menu" />

        <add id="Company_PricingAdjust::config"
             title="Configuration"
             module="Company_PricingAdjust"
             sortOrder="10"
             parent="Company_PricingAdjust::menu"
             action="admin/system_config/edit/section/Company_PricingAdjust"
             resource="Company_PricingAdjust::config" />
    </menu>
</config>
